<div class="tab-pane" id="branch" ng-controller="BranchController">

<h1>Pobočka {{ branch.name  }}</h1>

<h2>Koordinátor</h2>
<div>Jméno: {{ branch.coordinator.name }}</div>
<div>Telefon: {{ branch.coordinator.phone }}</div>
<div>Email: {{ branch.coordinator.email }}</div>

<div ng-show="branch.recruiter.name">
<h2>Náborář</h2>
<div>Jméno: {{ branch.recruiter.name }}</div>
<div>Telefon: {{ branch.recruiter.phone }}</div>
<div>Email: {{ branch.recruiter.email }}</div>
</div>

<div ng-show="branch.recruiter.name">Náborář: {{ branch.recruiter.name }}</div>

<ul class="nav nav-tabs">
  <li ng-show="signed_in" ui-sref-active="active"><a ui-sref="branch.people">Občané</a></li>
</ul>

<div ui-view></div>

</div>

