<%
  page_title "Identity - externí autentizace"
  render 'sidebar'
%>

<p class="bg-info">Pro přihlašování do registru můžete využít i externí služby. Např. Facebook nebo Twitter. Provázání s Vaším účtem můžete spravovat zde.</p>

<% providers = %w(Facebook Twitter MojeID)%>

<table class="table table-striped">
  <thead>
    <tr><th>Služba</th><th>UID</th><th>Akce</th></tr>
  </thead>
  <tbody>
  <% for provider_name in providers %>
  <% provider = provider_name.downcase %>
  <% identity = @identities.detect{|i| i.provider==provider} %>
  <tr>
    <th><%= provider_name %></th>
    <% if identity %>
      <td><%= identity.uid %></td>
      <td><%#= button_to 'Odebrat', identity, class: "btn btn-xs btn-danger", method: :delete, data: { confirm: 'Opravdu chcete smazat tento kontakt?' } %>Provázáno</td>
    <% else %>
      <td>neprovázáno</td>
      <td><%= button_to "Provázat", person_omniauth_authorize_path(provider) %></td>
    <% end %>
  </tr>
  <% end %>
  </tbody>
</table>
