<%
  page_title "Kmenoví členové"
  breadcrumb(:branch, @branch)
%>

<%= render('branches/nav') %>

<table class="table table-striped">
  <thead><tr><th>Jméno</th><th>Email</th><th>Telefon</th><th>Městská část</th></tr></thead>
  <tbody><%=render @branch.domestic_members.accessible_by(current_ability) %></tbody>
</table>
