<%
  page_title "Kmenoví členové"
  breadcrumb(:branch, @branch)
%>

<table id="domestic_members" class="table table-striped">
  <thead><tr><th>Foto</th><th>Jméno</th><th>Email</th><th>Telefon</th><th>Městská část</th></tr></thead>
  <tbody><%=render @branch.domestic_members.accessible_by(current_ability) %></tbody>
</table>

<%= datatable :domestic_members %>
