<%
  page_title "Kmenoví příznivci"
  breadcrumb(:branch, @branch)
%>

<table id="domestic_supporters" class="table table-striped">
  <thead><tr><th>Foto</th><th>Jméno</th><th>Email</th><th>Telefon</th><th>Městská část</th></tr></thead>
  <tbody><%=render @branch.domestic_supporters.accessible_by(current_ability) %></tbody>
</table>

<%= datatable :domestic_supporters %>
