<%
  page_title 'Nová pobočka' 
  render 'backoffice/sidebar'
%>
<p>Po zřízení pobočky je ještě nutné nechat zaprogramovat územní působnost, jinak nebudou do pobočky zařazování členi ani příznivci.</p>

<%= render 'form' %>

<%= link_to 'Back', roles_path %>
