<% content_for 'sidebar' do %>
<div id="sidebar-wrapper">
  <ul class="sidebar-nav">
    <li class="sidebar-brand">Republikové orgány</li>
    <% for body in @country.bodies %>
    <li><%= link_to_unless_current body.name.split("(").first, body %></a></li>
    <% end %>
  </ul>
</div>
<% end %>
