<div class="tab-pane" id="national_committees" ng-controller="OrganizationsController">

<h1>Republikový orgán - {{ national_committee.name }}</h1>
<table class="table table-striped">
</table>

<div ng-show="national_committee.president.name">
<h3>Předseda</h3>
<ul>
	<li>{{ national_committee.president.name }}</li>
</ul>
</div>

<div ng-show="national_committee.vicepresidents">
<h3>Místopředsedové</h3>
<ul data-ng-repeat="vicepresident in national_committee.vicepresidents">
	<li>{{ vicepresident.name }}</li>
</ul>
</div>

<div ng-show="national_committee.members">
<h2>Členové</h2>
<ul data-ng-repeat="member in national_committee.members">
	<li>{{ member.name }}</li>
</ul>
</div>


</div>