<div class="tab-pane" id="regions" ng-controller="OrganizationsController">

<h1>Krajská sdružení</h1>
<table class="table table-striped">
	<thead>
		<tr>
			<th>Kraj</th>
			<th>Předseda</th>
			<th>Počet členů</th>
			<th>Počet poboček</th>
		</tr>
	</thead>
	<tbody>
		<tr data-ng-repeat="regional_committee in regional_committees">
			<td><strong><a ui-sref="region.presidium({ regionId: regional_committee.organization.id })">{{ regional_committee.organization.name }}</a></strong></td>
			<td>{{ regional_committee.president.name }}</td>
			<td>{{ regional_committee.organization.members_count }}</td>
			<td>{{ regional_committee.organization.branches_count }}</td>
		</tr>
	</tbody>
</table>

</div>