<div class="authform">
<h2>Zapomenuté heslo</h2>

<%= simple_form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>

  <%= f.input :email, :autofocus => true %>

  <div class="pull-right"><%= f.submit "Odeslat instrukce pro obnovu hesla" %></div>
<% end %>

</div>
