<div ng-show="region.organization.branches">
<h2>Pobočky</h2>

<table class="table table-striped">
<thead><tr><th>Název pobočky</th><th>Koordinátor</th><th>Telefon</th><th>Email</th><th>Kmenoví členové</th></thead>
<tbody>
<tr data-ng-repeat="branch in region.organization.branches">
<th><a ui-sref="branch({ branchId: branch.id })">{{ branch.name }}</a></th>
<td>{{ branch.coordinator.name }}</td>
<td>{{ branch.coordinator.phone }}</td>
<td>{{ branch.coordinator.email }}</td>
<td>{{ branch.members_count }}</td>
</tr>
</tbody>
</table>
</div>
