<% page_title 'Nová funkce' %>

<p>Formulář vyplňuje pověřená osoba (kancelář, volební komise, předseda kraje) ve chvíli, kdy je zvolena osoba do funkce nebo kdy je jmenován koordinátor.</p>

<%= render 'form' %>

<%= link_to 'Back', roles_path %>
