<p>Dobrý den,</p>

<p>na základě žádosti z webu Vám posíláme odkaz pro změnu hesla.</p>

<p><%= link_to 'Změnit heslo', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>nebo okopírujte do prohlížeče tento odkaz: <%= edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Pokud jste o změnu hesla nežádali, můžete tento email ignorovat.</p>
